<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <base href="/">
    <title>born</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        .wrapper {
            margin-top: 80px;
            margin-bottom: 80px;
        }
        
        .form-password {
            padding: 15px 35px 45px;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
        
        .form-signin-heading,
        .checkbox {
            margin-bottom: 30px;
        }
        
        .checkbox {
            font-weight: normal;
        }
        
        .form-control {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
            box-sizing: border-box;
        }
        
        .form-control:focus {
            z-index: 2;
        }
        
        input[type="text"] {
            margin-bottom: -1px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        
        input[type="password"] {
            margin-bottom: 20px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <form class="form-horizontal form-password form col-md-offset-2 col-md-8 col-sm-10 col-xs-12" id="passwordForm" action="/api/users/update" method="post">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" name="id" id="id" value="{{userId}}" />
                    </div>
                </div>
                {{#if isSuperAdmin}}
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control" name="_action" id="_action" value="reset" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="ret">重置密码:</label>
                        <div class="col-sm-10">
                            <input class="full-width has-padding" type="submit" value="重置">
                        </div>
                    </div> 
                {{else}}
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control" name="_action" id="_action" value="update" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="password">新密码：</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary pull-right save-btn button" type="submit">保存</button>
                    </div>
                {{/if}}
            </form>
        </div>
    </div>
    <div class="modal fade" id="confirmResetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title" id="resetModalLabel">重置密码</h4>
                </div>
                <div class="modal-body">
                    是否要更改密码？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel btn-default" data-dismiss="modal">取消</button>
                    <a class="btn btn-danger btn-ok">重置</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>