::-webkit-scrollbar {
    display: none;
}

.shadow {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.center {
    text-align: center;
}

#mainWrapper {
    opacity: 0;
}

.main {
    min-height: 530px;
    padding: 20px 0;
    overflow: hidden;
}

.go-top-btn {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 50px; // width: 32px;
    height: 40px;
    cursor: pointer;
    z-index: 101;
    i {
        color: #337ab7;
        font-size: 48px; // margin-left: 8px;
    }
    i:hover {
        // @include opacity(.8);
        line-height: 45px;
        -moz-box-shadow: 0px -4px 0px 0px #337ab7;
        -webkit-box-shadow: 0px -4px 0px 0px #337ab7;
        box-shadow: 0px -4px 0px 0px #337ab7;
    }
    i:active {}
}

.throbber {
    border: 3px solid #555;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -ms-border-radius: 50%;
    -ms-animation: pulsate 2s ease-out;
    -ms-animation-iteration-count: infinite;
    -moz-border-radius: 50%;
    -moz-animation: pulsate 2s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-border-radius: 50%;
    -o-animation: pulsate 2s ease-out;
    -o-animation-iteration-count: infinite;
    border-radius: 50%;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 1;
    z-index: 999;
}