p{
    text-align:justify;
}


.input-group .form-control
{
border-radius:10px !important;
}

th
{
font-size:18px;
}
.table td .img-responsive {
    height: 250px;
    width: 100%;
}

.container-home{
    border: 1px solid #000;
    border-radius: 8px !important;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px !important;
}
.faq-tabbable
{
border:0 !important;
}

.portlet.box.blue
{
border:0px;
}

.ssa-img-div
{
    margin-top: 4%;
    position: absolute;
    text-align: center;
    width: 100%;
}

.tab-pane
{
    min-height:420px;
}
